
<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>oss spearfishing : {{ id }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css">
    {#<link href="{{ asset('assets/css/960_12_col.css') }}" rel="stylesheet" type="text/css">#}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Raleway" rel="stylesheet">
    <link href="{{ asset('assets/css/inscription.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container menuaccueil" id="container">
    <header id="header" class="row">
        <div class="col-md-12">
        <div class="" id="top_block">
        </div>
        </div>
        <figure id="logo"> <img class="col-md-4" src="{{ asset('assets/img/logo.png') }}" alt="OSS spearfishing"/> </figure>
        <nav id="menu">
            <ul>
                <li><a id="accueil" data-lien="accueil.html" data-color="menuaccueil">Accueil</a>
                </li>
                <li><a id="carte" data-lien="map.php" data-color="menucarte">Carte</a>
                </li>
                <li><a id="spot" data-lien="/spots" data-color="menuspot">Spot</a>
                </li>
                <li><a id="ajout" data-lien="/addSpot" data-color="menuajout">Ajout</a>
                </li>
                <li><a id="glossaire" data-lien="glossaire.html" data-color="menuglossaire">Glossaire</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="col-md-10 col-md-offset-1" id="main" data-page="accueil.html">

    </main>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMAlxADY_2tJes70XPjBsan07lCr6y-qk"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/javascript/main.js') }}" async defer></script>


</body>

</html>